<div class="login-container">
    <div class="left-container">
        <img src="../../../../../assets/logo.png" alt="Logo" class="logo-img">
        <h1>Welcome to Vinyl Tracker</h1>
        <h3>by enthusiasts for enthusiasts</h3>
    </div>

    <div class="right-container" [formGroup]="form">
        <div class="input-row">
            <label for="username">Username</label> <input formControlName="username">
        </div>
        <div class="input-row">
            <label for="email">Email</label> <input formControlName="email">
        </div>
        <div class="input-row">
            <label for="password">Password</label> <input formControlName="password">
        </div>
        <div class="input-row">
            <label for="confirmpassword">Confirm Password</label> <input formControlName="confirmPassword">
        </div>
        <button type="submit" (click)="registerUser()">Register</button>
        <button type="button" class="create-btn" routerLink="/login">I already have an account</button>
    </div>
</div>