<app-header></app-header>
<div class="dashboard">

    <h2>Your Collection</h2>
    <div class="collection">
        <div *ngFor="let vinyl of vinyls">
            <div class="vinyl-row" *ngIf="vinyl.user == currentUser">
                <img src="../../../../../assets/logo.png" alt="Logo" class="logo-img">
                <div class="vinyl-details">
                    <h5>{{vinyl.artist}}</h5>
                    <h3>{{vinyl.title}}</h3>
                </div>
            </div>
        </div>
    </div>

    <h2>Add a new Vinyl</h2>
    <div class="new-vinyl">
        <div class="vinyl-form" [formGroup]="form">
            <div class="input-row">
                <label for="title">Title</label> <input formControlName="title">
            </div>
            <div class="input-row">
                <label for="artist">Artist</label> <input formControlName="artist">
            </div>
            <button type="submit" [disabled]="!form.valid" (click)="addVinyl()">Add Vinyl</button>
        </div>
    </div>

    <h2>Others are listening to</h2>
    <div class="collection">
        <div *ngFor="let vinyl of vinyls">
            <div class="vinyl-row-other" *ngIf="vinyl.user != currentUser">
                <img src="../../../../../assets/logo.png" alt="Logo" class="logo-img">
                <div class="vinyl-details">
                    <h5>{{vinyl.artist}}</h5>
                    <h3>{{vinyl.title}}</h3>
                    <h6>Owned by {{vinyl.user}}</h6>
                </div>
            </div>
        </div>
    </div>
    
</div>