<app-header></app-header>
<div class="dashboard">

    <h2 class="top-h2">Your Collection</h2>
    <div class="collection">
        <div *ngFor="let vinyl of vinyls">
            <app-vinyl [currentVinyl]="vinyl" *ngIf="vinyl.user == currentUser"></app-vinyl>
        </div>
    </div>

    <h2>Add a new Vinyl</h2>
    <div class="new-vinyl">
        <div class="vinyl-form" [formGroup]="form">
            <div class="input-row">
                <label for="title">Title</label> <input formControlName="title">
            </div>
            <div class="input-row">
                <label for="artist">Artist</label> <input formControlName="artist">
            </div>
            <button type="submit" [disabled]="!form.valid" (click)="addVinyl()">Add Vinyl</button>
        </div>
    </div>

    <h2>Users are listening to</h2>
    <div class="collection">
        <div *ngFor="let vinyl of vinyls">
            <app-vinyl [currentVinyl]="vinyl" *ngIf="vinyl.user != currentUser" ngClass="red"></app-vinyl>
    </div>
    
</div>