.dashboard{
    height: 90vh;
    background-color: rgb(214, 214, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 14px;
}

h1{
    color: #000;
    margin-bottom: 50px;
}

.login-container{
    display: flex;
}

.logo-img{
    height: 150px;
    width: 150px;
    margin-bottom: 50px;
}

.left-container{
    background-color: rgb(54, 87, 99);
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: rgb(214, 214, 214);
    height: 100vh;
}

input{
    width: 225px;
    height: 40px;
    padding: 5px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 0;
}

.saved{
    color: green;
    font-weight: 700;
    font-size: 14px;
}

.text-p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

button{
    width: 225px;
    height: 40px;
    margin-top: 20px;
    border: 0;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: rgb(54, 87, 99);
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

.create-btn{
    border: 2px solid rgb(54, 87, 99);
    background-color: rgb(214, 214, 214);
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-top: 30px;
    color: rgb(54, 87, 99);
}

.input-row{
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-weight: 500;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: #000;
}


.error-message{
    width: 225px;
    margin: 3px 0 10px 0;
    font-size: 10px;
    color: red;
}
